page-home {
 
    ion-content {
        align-items: right;
        text-align: center;
    }
    .btn-menu{
        text-align: center;
        padding: 15px 20px;
        margin-top: 400px
        }
  
}
