page-home {

    .background{
        background-image: url(../../assets/imgs/segurançapeseg.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    .titulo{
        text-align: center;
        font-size: 30px;
        font-family: 'Righteous', cursive;
        }
    .copy{
        
        position: fixed;
        bottom: 10px;
        margin-left: 38%;
        font-size: 12px;
    }
    .text-info{
        font-family: 'Righteous', cursive;

    }
}
