page-resultado {

    .color{
        text-align: center;
        background: #0e1c3b;      
     }
    .p{
        color: white;
        font-size: 28px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background: #0e1c3b; 
     }
     .btn-menuResultado{
        margin-left: -140px;
        margin-top: 150px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: white;
        background-color: #7044ff;       
     }
     .btn-concluir{
        margin-top: 150px; 
        margin-left: -60px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: white;
        background-color: #7044ff;
     }
     .btn-acmelhoria{
        margin-left: 50px;
        margin-top: 150px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: white;
        background-color: #7044ff;
     }
}
