page-resultado {
    .color{
        text-align: center;
        background: rgb(83, 83, 83);
        
    }
    .p{
        color: rgb(66, 152, 250);
        font-size: 28px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background: rgb(83, 83, 83);
     }
     .btn-menuResultado{
        margin-left: -140px;
        margin-top: 150px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: black;
        
     }
     .btn-concluir{
        margin-top: 150px; 
        margin-left: -60px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: black;

     }
     .btn-acmelhoria{
        margin-left: 50px;
        margin-top: 150px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: black;
     }


}
