page-questionario2 {

        ion-content {
            align-items: right;
            text-align: center;
        }
        .btn-menu2{
        text-align: center;
        padding: 15px 20px;
        margin-top: 150px
            
         }
         .btn-anterior2{
        text-align: center;
        padding: 15px 10px;
        margin-top: 150px

         }
         .btn-proximo2{
        text-align: center;
        padding: 15px 10px;
        margin-top: 150px
         }
         .colorq2{
            background: rgb(223, 222, 222)
            
            
        }
        .question2{
           padding-top: 70px;
           padding-left: 150px;
           padding-right:180px;
           color: black;
           font-weight: bold;
           font-family: Arial, Helvetica, sans-serif;
           font-size: 1.1em;
        }
        .questionq2{
           padding-left: 150px;
           padding-right:180px;
           color: black;
           font-weight: bold;
           font-family: Arial, Helvetica, sans-serif;
           font-size: 1.1em;
   
        }
    
    }
    


