page-questionario2 {

    ion-content {
        align-items: right;
        text-align: center;
    }
    .btn-menu2{
        margin-left: -140px;
        margin-top: 150px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: black;        
     }
     .btn-anterior2{
        margin-top: 150px; 
        margin-left: -60px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: black;
     }
     .btn-proximo2{
        margin-left: 50px;
        margin-top: 150px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: black;
     }
     .color{
        width: 60%;
        position: relative;
        margin-left: 20%;
        background: #091226; 
        top: 10%;
     }
     .p{
        color: rgb(66, 152, 250);
        font-size: 18px;
        background: #091226; 
     }
     .information{
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        border-radius: 100px;
    }
}


