page-questionario {

    ion-content {
        align-items: right;
        text-align: center;
        
        
    }
    
    .btn-menu1{
        margin-left: -80px;
        margin-top: 150px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: black;
     
     
        
     }
     .btn-proximo{
        padding: 15px 10px;
        margin-top: 150px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: black;
  
     }
     .color{ //classe responsavel por redimensionar a label no centro
        width: 60%;
        position: relative;
        margin-left: 20%;
        background: rgb(83, 83, 83);
        top: 10%;
         

     }

     .p{ //classe responsavel pela fonte das palavras 
        color: rgb(66, 152, 250);
        font-size: 18px;
        background: rgb(83, 83, 83);

       
          
    }

}