page-questionario3 {

    ion-content {
        align-items: right;
        text-align: center;
    }
    ion-select {
        .select-icon {
          .select-icon-inner {
             color :  rgb(66, 152, 250) !important;
          }
        }
    }
    .btn-menu3{
        margin-left: -140px;
        margin-top: 150px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: white;
        background-color: #7044ff;      
     }
     .btn-anterior3{
        margin-top: 150px; 
        margin-left: -60px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: white;
        background-color: #7044ff;
     }
     .btn-proximo3{
        margin-left: 50px;
        margin-top: 150px;
        position: fixed;
        bottom: 28px;
        border-radius: 4px;
        color: white;
        background-color: #7044ff;
     }
     //desktop
     .color{
        width: 60%;
        position: relative;
        margin-left: 20%;
        background: #0e1c3b; 
        top: 10%;
     }
     //mobile
     @media (max-width: 550px) {
      .color{
          width: 110%;
          position: relative;
          margin-left: -7%;
          background: #0e1c3b; 
          top: 10%;
       }
    }
     .p{
        color:white;
        font-size: 18px;
        background: #0e1c3b; 
     }
}
