page-melhoria {

    .btn-ok{
        position: fixed;
        margin-right: 48%;
        margin-left: 48%;
        bottom: 28px;
        border-radius: 4px;
        color: black;
    }
    .colormelhoria{
        background: #091226;    
    }
    .mlh{
        padding-top: 10%;
        color: rgb(66, 152, 250);
        text-align: justify;
    }
}
