page-melhoria {

    .btn-ok{
        right: 49%;
        left: 49%;
        border-radius: 4px;
        color: white;
        background-color: #7044ff;
    }
    .colormelhoria{
        background: #0e1c3b;    
    }
    .mlh{
        padding-top: 10%;
        color: white;
        text-align: justify;
    }
}
